{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourcegroups/ps1141?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"testtag\": \"APPGw tag\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141\",\r\n  \"name\": \"ps1141\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"testtag\": \"APPGw tag\",\r\n    \"Created\": \"2023-06-08T15:36:33.5316717Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/virtualNetworks/ps5943?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps5943' under resource group 'ps1141' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/virtualNetworks/ps5943?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"e219c8c6-7b35-45ac-ad11-e9f4ad38e07a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5943\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/virtualNetworks/ps5943\",\r\n  \"etag\": \"W/\\\"e219c8c6-7b35-45ac-ad11-e9f4ad38e07a\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"579b5a9e-4ba4-4220-8431-cf6b14eb7806\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps7922\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/virtualNetworks/ps5943/subnets/ps7922\",\r\n        \"etag\": \"W/\\\"e219c8c6-7b35-45ac-ad11-e9f4ad38e07a\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/virtualNetworks/ps5943?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": []\r\n        },\r\n        \"name\": \"ps7922\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/westus2/operations/a31656f3-2cf3-4937-a8f7-ed1b221a6462?api-version=2022-11-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5943\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/virtualNetworks/ps5943\",\r\n  \"etag\": \"W/\\\"ac0e2906-106a-4620-83e8-8c88848008e9\\\"\",\r\n  \"type\": \"Microsoft.Ne[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/westus2/operations/a31656f3-2cf3-4937-a8f7-ed1b221a6462?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/publicIPAddresses/ps7496?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps7496' under resource group 'ps1141' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/publicIPAddresses/ps7496?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"4b6d206a-54e9-4d83-b28b-1140faa223be\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7496\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/publicIPAddresses/ps7496\",\r\n  \"etag\": \"W/\\\"4b6d206a-54e9-4d83-b28b-1140faa223be\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"zones\": [\r\n    \"1\",\r\n    \"2\",\r\n    \"3\"\r\n  ],\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4d85bfcb-f72d-4ee3-adc6-e6de76b0c885\",\r\n    \"ipAddress\": \"40.125.124.104\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps8051' under resource group 'ps1141' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"42edae8f-ccec-426e-a8df-06e7df158f03\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11964"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8051\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051\",\r\n  \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus2\",\r\n  \"zones\": [\r\n    \"1\",\r\n    \"2\"\r\n  ],\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a66e47da-9ef3-4d3f-a399-43ac4d5243ea\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\"\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps7332\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/gatewayIPConfigurations/ps7332\",\r\n        \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/virtualNetworks/ps5943/subnets/ps7922\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\": [\r\n      {\r\n        \"name\": \"ps7473\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/trustedRootCertificates/ps7473\",\r\n        \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/xQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6DeGv30AK2m8ULFezOqbprrozRxXaKzt8fBaDSP1XMakFaO6ffZU4uNgrehW4zMnpdgAjT5koymDKGAfl/7+5QpLxSKc2478J+PvTwy/rfWKJLbEImoM7WE3imWgrHUNMCAwEAAaNlMGMwYQYDVR0BBFowWIAQxDXqD2PYxSlriJ6HuzZ+b6EyMDAxLjAsBgNVBAMTJUFwcGxpY2F0aW9uR2F0ZXdheVNzbENlcnQtVW5pdFRlc3QtMDGCEI+aE5UeqMidTZV/Vm/WhcowDQYJKoZIhvcNAQELBQADggEBADSC6PHkVYmoVOyyW2g7q3GG3MmXa43/HQNTM+pT3HENAlhGg8T9EFrOQ/0QAoEQbrtsP8Isj5u2Bd4MOlYA180ExyfL/NFb7QpXq/pRLbePMQAQicdSvk/9RyrNRBfNjT2KNlBp3RZtCkJjQWlc5ylWydPy4JPUZxit/5ygCRT+cmN1ioF469Ki8hzBlKmrDg8jkFUwFyD7B0fEfPP0gSZI3F6HqgCK2hzBTjujZjddZyn2XxXlxLu57C83CNPP8fbsGW2CwolgmYvt+dJsdDnT7VKX5RS4cOPp/JGG7QdhzqVBoK0vZP6gHEAOPoqBVUWf8SmlVuAVGmDl8EjLnK8=\",\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/backendHttpSettingsCollection/ps5425\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/trustedRootCertificates\"\r\n      }\r\n    ],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps3040\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/frontendIPConfigurations/ps3040\",\r\n        \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/publicIPAddresses/ps7496\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/httpListeners/ps23\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"ps7959\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/frontendPorts/ps7959\",\r\n        \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/httpListeners/ps23\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps9139\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/backendAddressPools/ps9139\",\r\n        \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/requestRoutingRules/ps5882\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadDistributionPolicies\": [],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps5425\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/backendHttpSettingsCollection/ps5425\",\r\n        \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443,\r\n          \"protocol\": \"Https\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"pickHostNameFromBackendAddress\": true,\r\n          \"requestTimeout\": 30,\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/probes/ps3532\"\r\n          },\r\n          \"trustedRootCertificates\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/trustedRootCertificates/ps7473\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/requestRoutingRules/ps5882\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n      }\r\n    ],\r\n    \"backendSettingsCollection\": [],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"ps23\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/httpListeners/ps23\",\r\n        \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/frontendIPConfigurations/ps3040\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/frontendPorts/ps7959\"\r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\": [],\r\n          \"requireServerNameIndication\": false,\r\n          \"customErrorConfigurations\": [],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/requestRoutingRules/ps5882\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n      }\r\n    ],\r\n    \"listeners\": [],\r\n    \"urlPathMaps\": [],\r\n    \"requestRoutingRules\": [\r\n      {\r\n        \"name\": \"ps5882\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/requestRoutingRules/ps5882\",\r\n        \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"ruleType\": \"Basic\",\r\n          \"priority\": 100,\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/httpListeners/ps23\"\r\n          },\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/backendAddressPools/ps9139\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/backendHttpSettingsCollection/ps5425\"\r\n          },\r\n          \"rewriteRuleSet\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/rewriteRuleSets/ps2425\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n      }\r\n    ],\r\n    \"routingRules\": [],\r\n    \"probes\": [\r\n      {\r\n        \"name\": \"ps3532\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/probes/ps3532\",\r\n        \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Https\",\r\n          \"host\": \"probe.com\",\r\n          \"port\": 1234,\r\n          \"path\": \"/path/path.htm\",\r\n          \"interval\": 89,\r\n          \"timeout\": 88,\r\n          \"unhealthyThreshold\": 8,\r\n          \"pickHostNameFromBackendHttpSettings\": false,\r\n          \"minServers\": 0,\r\n          \"match\": {},\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/backendHttpSettingsCollection/ps5425\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/probes\"\r\n      }\r\n    ],\r\n    \"rewriteRuleSets\": [\r\n      {\r\n        \"name\": \"ps2425\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/rewriteRuleSets/ps2425\",\r\n        \"etag\": \"W/\\\"42edae8f-ccec-426e-a8df-06e7df158f03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"rewriteRules\": [\r\n            {\r\n              \"ruleSequence\": 100,\r\n              \"conditions\": [],\r\n              \"name\": \"ps1829\",\r\n              \"actionSet\": {\r\n                \"requestHeaderConfigurations\": [\r\n                  {\r\n                    \"headerName\": \"abc\",\r\n                    \"headerValue\": \"def\"\r\n                  }\r\n                ],\r\n                \"responseHeaderConfigurations\": []\r\n              }\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/requestRoutingRules/ps5882\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/rewriteRuleSets\"\r\n      }\r\n    ],\r\n    \"redirectConfigurations\": [],\r\n    \"privateLinkConfigurations\": [],\r\n    \"privateEndpointConnections\": [],\r\n    \"sslPolicy\": {\r\n      \"policyType\": \"Custom\",\r\n      \"minProtocolVersion\": \"TLSv1_1\",\r\n      \"cipherSuites\": [\r\n        \"TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256\",\r\n        \"TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384\",\r\n        \"TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA\",\r\n        \"TLS_RSA_WITH_AES_128_GCM_SHA256\"\r\n      ]\r\n    },\r\n    \"autoscaleConfiguration\": {\r\n      \"minCapacity\": 3\r\n    },\r\n    \"customErrorConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"cceb6bd3-8b5c-4b68-a3f0-838742d453d0\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8051\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051\",\r\n  \"etag\": \"W/\\\"cceb6bd3-8b5c-4b68-a3f0-838742d453d0\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus2\",\r\n  \"zones\": [\r\n    \"1\",\r\n    \"2\"\r\n  ],\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a66e47da-9ef3-4d3f-a399-43ac4d5243ea\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps7332\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/gatewayIPConfigurations/ps7332\",\r\n        \"etag\": \"W/\\\"cceb6bd3-8b5c-4b68-a3f0-838742d453d0\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {[...]
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\"\r\n    },\r\n    \"sslPolicy\": {\r\n      \"policyType\": \"Custom\",\r\n      \"cipherSuites\": [\r\n        \"TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256\",\r\n        \"TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384\",\r\n        \"TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA\",\r\n        \"TLS_RSA_WITH_AES_128_GCM_SHA256\"\r\n      ],\r\n      \"minProtocolVersion\": \"TLSv1_1\"\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/virtualNetworks/ps5943/subnets/ps7922\"\r\n          }\r\n        },\r\n        \"name\": \"ps7332\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/gatewayIpConfigurations/ps7332\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"trustedRootCertificates\": [\r\n      {\r\n        \"properties\": {\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUt[...]
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1141/providers/Microsoft.Network/applicationGateways/ps8051/stop?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/westus2/operationResults/cb7e2567-cf90-4588-8bc1-567f1ca84b60?api-version=2022-11-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/westus2/operations/cb7e2567-cf90-4588-8bc1-567f1ca84b60?api-version=2022-11-01"
[...]
